build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
.idea/*
*.prof
cmake-*/*
*.log
*/*.log
*.ini
data/*
.vscode/*
*/.vscode/*

####################### mark personal

raisim_gym/env/env/jueying/jueying/meshes
raisim_gym/env/env/jueying/jueying/models
raisim_gym/env/env/jueying/jueying/jueying_raisim.urdf
raisim_gym/env/env/jueying/jueying/jueying_simple.urdf
